*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background: linear-gradient(to right, rgb(87, 105, 158), rgb(149, 80, 117));
}

.header{
    padding: 28px;
}

.title{
    font-size: 50px;
}

.form-container{
    border: 2px solid black;
    padding: 25px;
    border-radius: 10px;
}

fieldset{
    display: inline-flex;
}

.form-group:nth-last-child(-n+2){
    margin-left: 100px;
}

.form-control{
    width: 300px;
    border-radius: 10px;
    text-align: left;
}

.btn{
    width: 100px;
    margin-left: 20px;
}

.events-container{
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 420px;
}

.table{
    color: black;
}

.btn-danger{
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}


@media only screen and (min-device-width : 270px) and (max-device-width : 770px){
    .header{
        padding: 18px;
    }

    .title{
        font-size: 30px;
    }
    .form-container{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    }
    fieldset{
        display: grid;
    }
    .form-group:nth-child(1){
        align-items: center;
        margin-left: 15px;
    }
    .form-group:nth-child(2){
        margin-left: 15px;
    }
    .form-group:last-child{
        align-content: left;
        margin-left: 0px;
    }
    .form-control{
        width: 255px;
        border-radius: 10px;
    }
    .btn{
        width: 100px;
        margin-top: 10px;
        border-radius: 10px;
        float: left;
    }
    .events-container{
        clear: both;
        height: auto;
        border: none;
    }
    .btn-danger{
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        font-size: 15px;
        text-align: center;
    }
}


@media only screen and (min-device-width : 770px) and (max-device-width : 1024px) {
    .form-container{
        border: 2px solid black;
        padding: 5px;
        border-radius: 10px;
    }
    .form-group:nth-child(1){
        margin-left: 10px;
    }
    .form-group:nth-child(2){
        margin-left: 10px;
    }
    .form-group:last-child{
        margin-left: 100px;
    }
    .form-control{
        width: 200px;
        border-radius: 10px;
    }
    .btn{
        width: 100px;
    }
    .btn-danger{
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        font-size: 15px;
        text-align: center;
    }
}