*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../assets/year2023.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2.8vw;
}

.title{
    width: 35vw;
    margin: 4vw 0vw 0vw 0vw;
    text-align: center;
}

.year-display{
    margin-top: 4vw;
}

.events-container{
    clear: both;
    display: inline-flex;
    height: 78vh;
}

.events-list{
    margin: 0;
    width: 22vw;
    overflow:scroll;
    margin-left: 2vw;
}

.card{
    cursor: pointer;
    text-align: center;
    padding: 1vw;
    background: linear-gradient();
}

.card-body{
    display: inline-flex;
}

::scrollbar {
    width: 3px;
    scroll-behavior: smooth;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 50px;
    left: 70px;
    width: 16vw;
  }

  .form-popup {
    display: none;
    position: fixed;
    top: 106px;
    left: 70px;
    background-color: white;
    border: 3px solid black;
    z-index: 8;
  }

.form-container {
    max-width: 15.60vw;
    padding: 10px;
  }
  
.form-container label{
    color: black;
}

.form-container input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

.date-container .date{
    margin-bottom: 20px;
}

.date-container .date select{
    margin-left: 30px;
    height: 36px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}


.form-container .cancel {
    background-color: red;
}
  
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.event-container{
    width: 75vw;
    text-align: center;
}

.event-title{
}

.time-container{
    display: inline-flex;
    color: white;
    position: fixed;
    top: 28rem;
    right: 9rem;
    font-size: 3rem;
    z-index: 8; 
}

.time{
    margin-left: 5rem;
}